html, body{
   background-image: linear-gradient(180deg, rgb(252, 211, 211), rgb(247, 138, 156) );
   background-repeat: no-repeat;
   margin: 0;
   height: 100%;
   font-family: sans-serif;
}

h1 {
    margin: 0;
    padding-top: 10px;
    font-family: serif;
}

p {
    font-size: 12px;
    padding-bottom: 10px;
    
}
#box {
    text-align: center;
    margin: auto;
    margin-top: 10px;
    width: 300px;
    background-color: white;
    padding: 10px 0px 10px 0px;
    box-shadow: 2px 2px 20px gray;
    
    animation: slide 1s 1;
    animation-timing-function: ease-out;
    
}

@keyframes slide {
    0%{
    transform: translateY(-300px);
    }

    50% {
     transform: translateY(50px);
    }

    100% {
    transform: translateY(0px);
    }
    
}


#box li {
    width: 90%;
    list-style: none;
    text-align: center;
    padding-bottom: 5px;
   
}

/* animation for adding item */
li {
    animation: fade 0.25s 1;
    animation-timing-function: ease-in-out;

}

@keyframes fade {
   0% {
   transform: translateY(+30px);
   opacity: 0;
   }

   100% { 
    transform: translateY(0px);
    opacity: 1;
   }
}

/* checked list item + animation */
.text-label.completed {
    color: grey;
    text-decoration: line-through;
    animation: complete 1s 1;
}
 @keyframes complete {
    0% {
    color: black;
    }

    100% {
    color:grey;
    }

    
 }



/* error message + blinking animation */
.error-message {
    color: red;
    text-align: center;
    font-size: 10px;
    animation: blink 0.5s 2;
    animation-direction: alternate;    
    animation-timing-function: ease-in;
}


@keyframes blink {
 0%, 100% {
    opacity: 1;
 }


 50%{
    opacity: 0;
    }
}

.close {
    padding-left: 10px;
    font-size: 10px;
    opacity: 50%;
}
