html, body{
   background-image: linear-gradient(180deg, rgb(252, 211, 211), rgb(247, 138, 156) );
   background-repeat: no-repeat;
   margin: 0;
   height: 100%;
   font-family: sans-serif;
}

h1 {
    margin: 0;
    padding-top: 10px;
    font-family: serif;
}

p {
    font-size: 12px;
    padding-bottom: 10px;
    
}
#box {
    text-align: center;
    margin: auto;
    margin-top: 10px;
    width: 300px;
    background-color: white;
    padding: 10px 0px 10px 0px;
    
}


#box li {
    width: 90%;
    list-style: none;
    text-align: center;
   
}

.error-message {
    color: red;
    text-align: center;
    font-size: 10px;

}

.close {
    padding-left: 10px;
    font-size: 10px;
    opacity: 50%;
}
